@model Teste_TGS.ViewModels.ClienteViewModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Visualizar</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <input type="hidden" asp-for="@Model.Id" />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Logotipo.imagemString)
        </dt>
        <dd class="col-sm-10">
            <img style="height: 100px; width: 100px;"
                src="@Html.DisplayFor(modelItem => Model.Logotipo.imagemString)" />
        </dd>
    </dl>

    <table class="table">
        <thead>
            <tr>
                <th> @Html.DisplayNameFor(model => model.Logradouro[0].Rua)</th>
                <th> @Html.DisplayNameFor(model => model.Logradouro[0].Bairro)</th>
                <th> @Html.DisplayNameFor(model => model.Logradouro[0].Cidade)</th>
                <th> @Html.DisplayNameFor(model => model.Logradouro[0].Estado)</th>
                <th> @Html.DisplayNameFor(model => model.Logradouro[0].Pais)</th>
                <th> @Html.DisplayNameFor(model => model.Logradouro[0].Cep)</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Logradouro.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Logradouro[i].Rua)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Logradouro[i].Bairro)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Logradouro[i].Cidade)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Logradouro[i].Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Logradouro[i].Pais)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Logradouro[i].Cep)
                    </td>
                </tr>
            }
        </tbody>
</div>
<div>
    @* @if (User.IsInRole("Master") || User.IsInRole("Avançado"))
    { *@
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    @* } *@
    <a asp-action="Index" asp-route-id="@Model.Id" class="btn btn-info">Voltar</a>
</div>